.categories-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 20px;
  justify-content: space-between;
  @media(min-width: 1440px) {
    justify-items: center;
  } 
}
.categories__item {
  width: 100%;
}
.categories {
  margin-top: 30px;
}
.categories-item__link {
  font-size: 1.25vw;
  img {
    margin-bottom: 12px;
    width: 100%;
  }
}

.mobile-categories-wrapper {
  @media #{$media-to-xs} {
    padding-left: 16px;
    padding-right: 16px;
  }
  .mobile-categories {
    &__item {
      & + .mobile-categories__item {
        margin-left: 8px;
      }
    }
  }
  .mobile-categories-item__link {
    font-size: 14px;
  }
}