.categories-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 20px;
  justify-content: space-between;
  @media (min-width: 1440px) {
    justify-items: center;
  }
}
.categories__item {
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
}
.categories {
  margin-top: 30px;
  @media #{$media-to-xs} {
    margin-top: 20px;
  }
}
.categories-item__link {
  font-size: 1.25vw;
  div {
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 12px;
  }
  img {
    width: 100%;
    transition: 0.7s;
    &:hover {
      transform: scale(1.2);
      transition: 0.7s;
    }
  }
}

.mobile-categories-wrapper {
  @media #{$media-to-md} {
    padding-left: 16px;
  }
  .mobile-categories {
    &__item {
      & + .mobile-categories__item {
        margin-left: 8px;
      }
      a {
        outline: none !important;
        line-height: 20px;
        span {
          margin-top: 8px;
          display: inline-block;
        }
      }
    }
  }
  .mobile-categories-item__link {
    @media #{$media-to-md} {
      font-size: 18px;
    }
    @media #{$media-to-xs} {
      font-size: 14px;
      line-height: 20px;
    }
    img {
      @media #{$media-xs-up} {
        width: 94%;
      }
    }
  }
}
