.footer {
  margin-top: 60px;
  @media #{$media-to-xs} {
    margin-top: 40px;
  }
}
.footer-subscribe {
  background-color: #2e394d;
  position: relative;
  &__main {
    display: flex;
    align-items: center;
    max-width: 992px;
    margin: 0 auto;
    @media #{$media-to-md} {
      padding-left: 16px;
      padding-right: 16px;
    }
    @media #{$media-to-xs} {
      flex-direction: column;
    }
  }
  &__text {
    padding: 37px 0;
    color: #fff;
    font-size: 18px;
    margin-right: 31px;
    @media #{$media-to-md} {
      font-size: 14px;
    }
    @media #{$media-to-xs} {
      margin-right: 0;
      padding-top: 20px;
      padding-bottom: 16px;
      width: 100%;
    }
  }
  &__input {
    position: relative;
    @media #{$media-to-xs} {
      width: 100%;
      padding-bottom: 20px;
    }
    input {
      border-radius: 10px;
      border: 1px solid #d2d7e3;
      background: #fff;
      width: 416px;
      line-height: 20px;
      padding: 14px 16px;
      font-size: 14px;

      &:placeholder-shown ~ label {
        font-size: 14px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 9;
        @media #{$media-to-xs} {
          top: 34%;
        }
      }
      &:focus ~ label {
        left: 0;
        top: 2px;
        left: 16px;
        font-size: 10px;
        transform: translateY(0);
        transition: 0.2s;
      }
      &::placeholder {
        color: transparent;
      }
      @media #{$media-md-only} {
        width: 212px;
        height: 48px;
      }
      @media #{$media-to-xs} {
        width: 210px;
        height: 40px;
      }
    }
  }
  &__label {
    transition: 0.2s;
    z-index: 9;
    position: absolute;
    left: 0;
    top: 2px;
    left: 16px;
    font-size: 10px;
    cursor: text;
    color: #a7a8b3;
    @media #{$media-to-xs} {
    }
  }
  &__top-btn {
    background: #a7a8b3;
    border-radius: 5px;
    width: 48px;
    height: 48px;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 32px;
    bottom: 32px;
    transform: translateY(-50%);
    transition: 0.4s;
    z-index: 20;
    @media #{$media-to-xs} {
      display: none;
    }
    img {
      width: 22px;
      padding-bottom: 2px;
    }
    &:hover {
      background: rgba(0, 0, 0, 0.5);
      opacity: 0.8;
      backdrop-filter: blur(6px);
    }
  }
  &__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 4px;
    border: none;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    border-radius: 10px;
    padding: 9.5px 32.9px;
    text-align: center;
    cursor: pointer;
    background: #ed1c24;
    @media #{$media-md-only} {
      right: -160px;
      padding: 13.5px 32.9px;
    }
    @media #{$media-to-xs} {
      padding: 11px 20px;
      top: 20px;
    }
    &:hover {
      background: #d00a12;
      transition: 0.2s;
    }
  }
}
.footer-container {
  background: #f5f7f9;
  padding-bottom: 40px;
}
.footer-links-blocks {
  padding-top: 60px;
  display: flex;
  max-width: 992px;
  margin: 0 auto;
}
.footer-links {
  &:nth-of-type(1) {
    margin-right: 154px;
  }
  &:nth-of-type(2) {
    margin-right: 134px;
  }
  &:nth-of-type(3) {
    margin-right: 80px;
  }
  &:nth-of-type(4) {
    margin-right: 70px;
  }
  &__title {
    color: #a7a8b3;
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 30px;
  }
  &__city {
    p {
      color: #a7a8b3;
      max-width: 175px;
      margin-bottom: 4px;
      font-size: 14px;
      &:nth-child(1) {
        margin-top: 12px;
      }
    }
  }
}
.footer-link {
  display: block;
  font-weight: normal;
  margin-bottom: 12px;
  line-height: 20px;
  white-space: nowrap;
  &:hover {
    opacity: 0.8;
    transition: 0.2s;
  }
}
.footer-socials {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 12px;
  a {
    width: 32px;
    height: 32px;
    border: 1px solid #bdbdbd;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    align-items: center;
    &:hover {
      transition: 0.2s;
      svg {
        transform: rotateY(360deg);
        transition: 1s;
      }
    }
    &:nth-of-type(4) {
      svg {
        width: 8px;
      }
    }
  }
  svg {
    width: 11px;
    height: 11px;
  }
}
.mobile-footer-links {
  padding-left: 16px;
  padding-right: 16px;
  background: #f5f7f9;
  &__item {
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #d2d7e3;
    overflow: hidden;
  }
  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h5 {
      font-size: 16px;
    }
    img {
      width: 14px;
    }
  }
  &__collapse {
    display: flex;
    flex-direction: column;
    transition: 0.4s;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    a {
      margin-top: 24px;
    }
  }
}

.mobile-footer__socials {
  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-top: 24px;
  border-bottom: 1px solid #d2d7e3;
  padding-bottom: 24px;
  background: #f5f7f9;
  a {
    border-radius: 50%;
    padding: 10px;
    border: 1px solid #bdbdbd;
    &:nth-of-type(2) {
      padding: 10.5px 9.5px;
    }
    &:nth-of-type(3) {
      padding: 11.5px 9px;
    }
    &:nth-of-type(4) {
      padding: 9px 11px;
    }
    &:nth-of-type(5) {
      padding: 9px 9px;
    }
  }
  a + a {
    margin-left: 16px;
  }
}

.mobile-footer-contacts {
  padding-left: 16px;
  padding-right: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 24px;
  padding-bottom: 24px;
  background: #f5f7f9;
  &__city {
    font-size: 12px;
    color: #a7a8b3;
  }
  &__phone {
    font-size: 14px;
  }
}

.hide-btn {
  visibility: hidden;
  opacity: 0;
  transition: 0.4s;
}

.fixed-btn {
  position: fixed;
  top: auto;
}
.absolute-btn {
  position: absolute;
  top: 50%;
}
.mobile-map {
  iframe {
    pointer-events: none !important;
  }
}
