.footer {
  margin-top: 60px;
}
.footer-subscribe {
  background-color: #2E394D;
  position: relative;
  &__main {
    display: flex;
    align-items: center;
    max-width: 992px;
    margin: 0 auto;
    @media #{$media-to-xs} {
      flex-direction: column;
      padding-left: 16px;
      padding-right: 16px;
    }
  }
  &__text {
    padding: 37px 0;
    color: #fff;
    font-size: 18px;
    margin-right: 31px;
    @media #{$media-to-xs} {
      margin-right: 0;
      font-size: 14px;
      padding-top: 20px;
    }
  }
  &__input {
    position: relative;
    @media #{$media-to-xs} {
      width: 100%;
      padding-bottom: 20px;
    }
    input {
      border-radius: 10px;
      border: 1px solid #D2D7E3;
      background: #fff;
      width: 416px;
      line-height: 20px;
      padding: 14px 16px;
      font-size: 14px;
      &::placeholder {
        color: #A7A8B3;
      }
      @media #{$media-to-xs} {
        width: 210px;
        height: 40px;
      }
    }
  }
  &__top-btn {
    background: #A7A8B3;
    border-radius: 5px;
    width: 48px;
    height: 48px;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    position: absolute;
    right: 32px;
    top: 50%;
    transform: translateY(-50%);
    img {
      width: 22px;
      padding-bottom: 2px;
    }
  }
  &__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 4px;
    border: none;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    border-radius: 10px;
    padding: 9.5px 32.9px;
    text-align: center;
    cursor: pointer;
    background: #ED1C24;
    @media #{$media-to-xs} {
      padding: 11px 20px;
      top: 20px;
    }
    &:hover {
      background: #D00A12;
      transition: .2s;
    }
  }
}
.footer-container {
  background: #F5F7F9;
}
.footer-links-blocks {
  padding-top: 60px;
  display: flex;
  max-width: 992px;
  margin: 0 auto;
}
.footer-links {
  &:nth-of-type(1) {
    margin-right: 154px;
  }
  &:nth-of-type(2) {
    margin-right: 134px;
  }
  &:nth-of-type(3) {
    margin-right: 80px;
  }
  &:nth-of-type(4) {
    margin-right: 70px;
  }
  &__title {
    color: #A7A8B3;
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 30px;
  }
  &__city {
    p {
      color: #A7A8B3;
      max-width: 175px;
      margin-bottom: 8px;
      &:nth-child(1) {
        margin-top: 12px;
      }
    }
  }
}
.footer-link {
  display: block;
  font-weight: normal;
  margin-bottom: 12px;
}
.footer-socials {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 12px;
  img {
    border: 1px solid #BDBDBD;
    padding: 12px;
    border-radius: 50%;
  }
  a {
    &:nth-child(3) {
     img {
      padding: 13px 11px;
     }
    }
    &:nth-child(4) {
      img {
       padding: 12px 13px;
      }
     }
  }
}
.mobile-footer-links {
  padding-left: 16px;
  padding-right: 16px;
  &__item {
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #D2D7E3;
    overflow: hidden;
  }
  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h5 {
      font-size: 16px;
    }
    img {
      width: 14px;
    }
  }
  &__collapse {
    display: flex;
    flex-direction: column;
    a {
      margin-top: 24px;
    }
  }
}

.mobile-footer__socials {
  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-top: 24px;
  border-bottom: 1px solid #D2D7E3;
  padding-bottom: 24px;
  a {
    border-radius: 50%;
    padding: 10px;
    border: 1px solid #BDBDBD;
    &:nth-of-type(2) {
      padding: 10.5px 9.5px;
    }
    &:nth-of-type(3) {
      padding: 11.5px 9px;
    }
    &:nth-of-type(4) {
      padding: 9px 11px;
    }
    &:nth-of-type(5) {
      padding: 9px 9px;
    }
  }
  a + a {
    margin-left: 16px;
  }
}

.mobile-footer-contacts {
  padding-left: 16px;
  padding-right: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 24px;
  margin-bottom: 24px;
  &__block {

    }
  &__city {
    font-size: 12px;
    color: #A7A8B3;
  }
  &__phone {
    font-size: 14px;
  }
}

.links-hidden {
  display: none;
}