
$xs: 375px;
$xl: 1600px;

$screen: "only screen";
$media-to-xs: "#{$screen} and (max-width: #{$xs})"; // up to 375px
$media-xs-up: "#{$screen} and (min-width: #{$xs + 1})"; // from 376px
$media-to-xl: "#{$screen} and (max-width: #{$xl + 1})"; // up to 1660px
$media-xl-up: "#{$screen} and (min-width: #{$xl + 1})"; // from 1660px
.no-mobile {
  @media #{$media-to-xs} {
    display: none !important;
  }
}

.only-mobile {
  @media #{$media-xs-up} {
    display: none !important;
  }
}

.only-xl-up {
  @media #{$media-to-xl} {
    display: none !important;
  }
}