.material-examples {
  margin-top: 70px;

  @media #{$media-to-xs} {
    margin-top: 40px;
  }
}

.example-banner {
  background-color: #0081a7;
  border-radius: 10px;
  display: flex;
  align-self: center;
  padding-left: 80px;
  justify-content: space-between;

  @media #{$media-md-only} {
    padding-left: 40px;
    margin-left: 32px;
    margin-right: 32px;
    overflow: hidden;
    position: relative;
    overflow: hidden;
  }

  @media #{$media-to-xs} {
    height: 190px;
    margin-right: 16px;
    margin-left: 16px;
    padding: 0;
    position: relative;
    overflow: hidden;
  }
}

.banner-img {
  width: 520px;
  height: 214px;
  margin-top: 40px;
  margin-right: 4.86111vw;

  @media #{$media-to-xs} {
    height: 190px;
  }
}

.banner-text {
  padding-top: 40px;
  padding-bottom: 50px;

  @media #{$media-to-xs} {
    padding: 20px;
    padding-right: 0;
    width: 58%;
  }

  &__title {
    font-weight: bold;
    font-size: 32px;
    line-height: 47px;
    color: #fff;

    @media #{$media-to-xs} {
      font-size: 18px;
      line-height: 29px;
    }
  }

  &__desc {
    color: #ffffff;
    opacity: 0.65;
    max-width: 300px;
    margin-top: 10px;
    line-height: 20px;

    @media #{$media-to-xs} {
      font-size: 14px;
      line-height: 20px;
      margin-top: 2px;
    }
  }

  &__more {
    img {
      margin-right: 10px;
    }

    background: transparent;
    border: 1.5px solid #fff;
    border-radius: 10px;
    color: #fff;
    max-width: 270px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 14px;
    padding: 14px 0;
    margin-top: 48px;

    @media #{$media-md-only} {
      padding: 12px 0;
      max-width: 240px;
    }

    @media #{$media-to-xs} {
      margin-top: 18px;
      max-width: 140px;
      height: 40px;
      padding: 0;
      display: flex;
      align-items: center;
    }

    &:hover {
      border: 1.5px solid #cbcbcb;
      transition: 0.2s;
    }
  }
}

.mobile-example-img {
  position: absolute;
  height: 90%;
  top: 10px;

  @media #{$media-md-only} {
    right: 0;
    top: -2px;
    height: 100%;
  }

  @media #{$media-to-xs} {
    left: 170px;
    height: 86%;
  }
}

.example-types {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

.type-image {
  font-size: 18px;
  cursor: pointer;

  div {
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 12px;
  }

  img {
    width: 100%;
    transition: 0.7s;

    &:hover {
      @media #{$media-md-up} {
        transform: scale(1.2);
        transition: 0.7s;
      }
    }

    @media #{$media-to-xs} {
      margin-bottom: 8px;
    }

    @media #{$media-md-only} {
      margin-bottom: 12px;
    }
  }
}

.mobile-example-types {
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  display: -webkit-box;

  @media #{$media-to-md} {
    overflow: auto;
    white-space: nowrap;

    &::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  @media #{$media-to-xs} {
    padding-left: 16px;
  }

  .type-image {
    @media #{$media-md-only} {
      width: 342px;

      &:not(:last-child) {
        margin-right: 20px;
      }

      &:last-child {
        padding-right: 32px;
        width: 374px;
      }
    }

    @media #{$media-to-xs} {
      width: 168px;
      font-size: 14px;

      &:last-child {
        padding-right: 16px;
        width: 184px;
      }
    }
  }

  .type-image.slick-slide {
    outline: none !important;
  }

  @media #{$media-md-only} {
    padding-left: 32px;
    margin-top: 40px;
  }

  .type-image+.type-image {
    @media #{$media-to-xs} {
      margin-left: 8px;
      font-size: 14px;
    }

    @media #{$media-md-only} {
      font-size: 18px;
    }
  }
}

.border-ex-img {
  position: absolute;
  top: 0;
  right: 4.6vw;
  height: 96%;
  width: 650px;
}