.material-examples {
  margin-top: 70px;
  @media #{$media-to-xs} {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.example-banner {
  background-color: #0081A7;
  border-radius: 10px;
  display: flex;
  align-self: center;
  padding-left: 80px;
  justify-content: space-between;
  @media #{$media-to-xs} {
    height: 190px;
    padding: 0;
    position: relative;
    overflow: hidden;
  }
}
.banner-img {
  width: 528px;
  height: 230px;
  margin-top: 40px;
  margin-right: 4.86111vw;
  @media #{$media-to-xs} {
    height: 190px;
  }
}
.banner-text {
  padding-top: 50px;
  padding-bottom: 50px;
  @media #{$media-to-xs} {
    padding: 20px;
    padding-right: 0;
    width: 58%;
  }
  &__title {
    font-weight: bold;
    font-size: 32px;
    line-height: 47px;
    color: #fff;
    @media #{$media-to-xs} {
      font-size: 18px;
      line-height: 27px;
    }
  }
  &__desc {
    color: #FFFFFF;
    opacity: 0.54;
    max-width: 300px;
    margin-top: 10px;
    @media #{$media-to-xs} {
      font-size: 14px;
    }
  }
  &__more {
    img {
      margin-right: 10px;
    }
    background: transparent;
    border: 1.5px solid #fff;
    border-radius: 10px;
    color: #fff;
    max-width: 270px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 14px;
    padding: 14px 0;
    margin-top: 35px;
    @media #{$media-to-xs} {
      margin-top: 12px;
      max-width: 140px;
      height: 40px;
      padding: 0;
    }
    &:hover {
      border: 1.5px solid #CBCBCB;
      transition: .2s;
    }
  }
}
.mobile-example-img {
  position: absolute;
  height: 90%;
  top: 10px;
  @media #{$media-to-xs} {
    left: 170px;
  }
}

.example-types {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.type-image {
  font-size: 1.25vw;
  img {
    margin-bottom: 15px;
    width: 100%;
    @media #{$media-to-xs} {
      margin-bottom: 8px;
    }
  }
}

.mobile-example-types {
  margin-top: 20px;
  margin-bottom: 40px;
  .type-image + .type-image {
    @media #{$media-to-xs} {
      margin-left: 8px;
      font-size: 14px;
    }
  }
}

.border-ex-img {
  position: absolute;
  top: 0;
  right: 4.6vw;
  height: 98%;
  width: 650px;
}