.goods {
  margin-top: 50px;
  @media #{$media-to-xs} {
    margin-top: 00px;
  }
  &__title {
    display: flex;
    align-items: flex-end;
    @media #{$media-to-xs} {
      display: block;
    }
    @media #{$media-to-md} {
      padding-left: 16px;
      padding-right: 16px;
    }
    h1 {
      font-size: 48px;
      margin-right: 24px;
      line-height: 38px;
      @media #{$media-md-only} {
        font-size: 44px;
      }
      @media #{$media-to-xs} {
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        display: inline-block;
      }
    }
    a {
      color: $blue;
      font-weight: 700;
      cursor: pointer;
      font-size: 16px;
      @media #{$media-to-xs} {
        font-weight: bold;
        font-size: 14px;
        line-height: 26px;
        margin-left: -10px;
      }
      &:hover {
        color: #0b729e;
        transition: 0.2s;
      }
    }
  }
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-top: 30px;
  grid-row-gap: 50px;
  @media #{$media-to-xs} {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px;
  }
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  @media #{$media-to-xs} {
    border: 1px solid #d2d7e3;
  }
  .card-hover-img {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    z-index: 10;
    transition: all 0.4s;
    img {
      width: 100%;
      margin: 0 auto;
    }
    a {
      display: flex;
      justify-content: space-between;
      img {
        z-index: -1;
        position: absolute;
      }
    }
  }
  .hover-slide-img {
    width: 100%;
    height: 300px;
  }
  .card-to-favorite {
    right: 18px;
    top: 26px;
    position: absolute;
    cursor: pointer;
    width: 24px !important;
  }
  .card-image {
    position: relative;
  }
  .card-discount {
    position: absolute;
    top: -6px;
    left: 4px;
    z-index: 17;
    span {
      background-color: $red;
      font-weight: 700;
      color: #fff;
      border-radius: 1px 14px;
      font-size: 14px;
      line-height: 31px;
      padding: 4px;
      @media #{$media-to-xs} {
        font-size: 12px;
      }
    }
  }
  .mobile-card-to-favorite {
    position: absolute;
    right: 0;
    top: -8px;
  }
  .card-image-prev {
    width: 100%;
    cursor: pointer;
    img {
      width: 100%;
    }
  }
  .card-title {
    font-size: 18px;
    font-weight: normal;
    margin-top: 85px;
    margin-left: 10px;
  }
  .card-subtitle {
    font-weight: normal;
    font-size: 14px;
    color: #a7a8b3;
    margin-left: 10px;
  }
  .card-tooltip {
    position: absolute;
    right: -40px;
    bottom: 48px;
    padding: 8px 16px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    width: max-content;
    opacity: 0;
    transition: opacity 0.3s;
    &::after {
      content: '';
      width: 0;
      height: 0;
      left: 50%;
      transform: translateX(-50%);
      bottom: -10px;
      position: absolute;
      border-style: solid;
      border-width: 10px 9px 0 9px;
      border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
      line-height: 0px;
      _border-color: #007bff #000000 #000000 #000000;
      _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
    }
  }
  .card-icons {
    // display: flex;
    display: none;
    img {
      background-color: $light-gray;
      padding: 8px;
      border-radius: 5px;
      cursor: pointer;
      margin-right: 8px;
    }
  }
  .card-icon__wrapper {
    position: relative;
    &:hover {
      .card-tooltip {
        opacity: 1;
      }
    }
  }
  .card-sizes {
    margin-left: 10px;
    &__title {
      font-weight: normal;
      font-size: 14px;
      margin-top: 16px;
      margin-bottom: 4px;
    }
    &__btns {
      button {
        border: 1px solid transparent;
        background-color: $light-gray;
        font-size: 14px;
        padding: 3px 7px;
        border-radius: 5px;
        &:hover {
          border: 1px solid #a7a8b3;
        }
        span {
          font-size: 12px;
          margin-left: 3px;
        }
      }
    }
  }
  .card-params {
    margin-left: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: auto;
    padding-top: 14px;
    img {
      margin-bottom: 6px;
    }
  }
  .card-colors {
    font-size: 14px;
    &__btns {
      display: flex;
      align-items: center;
      margin-top: 10px;
      button {
        height: 16px;
        width: 16px;
        border-radius: 5px;
        border: none;
        position: relative;
        margin-right: 5px;
        &:hover::after {
          content: '';
          height: 20px;
          width: 20px;
          border: 1px solid #a7a8b3;
          background: transparent;
          position: absolute;
          border-radius: 5px;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
      .yellow {
        background-color: #fed60e;
      }
      .blue {
        background-color: #6e67c6;
      }
      .light {
        background-color: #cddae2;
      }
    }
  }
  .old-price {
    color: #a7a8b3;
    font-size: 14px;
    text-decoration: line-through;
    text-align: right;
    line-height: 20px;
    @media #{$media-to-xs} {
      text-align-last: left;
      font-size: 12px;
      line-height: 18px;
    }
  }
  .new-price {
    font-weight: bold;
    color: #282724;
    font-size: 24px;
    line-height: 30px;
    @media #{$media-to-xs} {
      font-size: 16px;
      line-height: 24px;
    }
  }
  padding: 30px 16px;
  &:hover {
    .add-to-cart-wrapper {
      opacity: 1;
      transition: all 0.4s;
    }
    box-shadow: 0px -10px 30px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
  }
}
.discount-banner {
  margin-top: 60px;
  display: flex;
  justify-content: flex-end;
  border-radius: 10px;
  background: #ffe677;
  margin-bottom: 60px;
  position: relative;
  @media #{$media-md-only} {
    height: 240px;
    margin-left: 16px;
    margin-right: 16px;
  }
  @media #{$media-to-xs} {
    margin-left: 16px;
    margin-right: 16px;
    height: 160px;
  }
  @media #{$media-xl-up} {
    height: 240px;
  }
  div {
    position: absolute;
    left: 70px;
    top: 50%;
    transform: translateY(-50%);
    @media #{$media-md-only} {
      left: 40px;
    }
    @media #{$media-to-xs} {
      left: 20px !important;
      width: 230px;
    }
    p {
      width: 490px;
      @media #{$media-to-xs} {
        width: 61%;
        font-size: 14px;
      }
    }
  }
  img {
    width: 60%;
    @media #{$media-xl-up} {
      margin-right: 130px;
      width: 40%;
    }
  }
  &__title {
    font-weight: bold;
    font-size: 55px;
    @media #{$media-to-xs} {
      font-size: 20px;
    }
  }
  &__subtitle {
    font-weight: normal;
    font-size: 18px;
    max-width: 540px;
    line-height: 25px;
    @media #{$media-to-xs} {
      font-size: 12px;
      width: 50%;
    }
  }
}
.card-size__button-selected {
  border: 1px solid #a7a8b3 !important;
  font-weight: bold;
}
.card-colors__selected {
  &:after {
    content: '';
    height: 20px;
    width: 20px;
    border: 1px solid #a7a8b3;
    background: transparent;
    position: absolute;
    border-radius: 5px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.add-to-cart-wrapper {
  background: #fff;
  position: absolute;
  width: 100%;
  padding: 15px;
  border-radius: 0 0 10px 10px;
  left: 0;
  bottom: -60px;
  opacity: 0;
  box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.07);
}
.card_add-to-cart {
  border-radius: 10px;
  border: 1.5px solid #ed1c24;
  background: transparent;
  padding: 15px;
  margin-top: 20px;
  width: 98%;
  font-weight: bold;
  margin: 0 auto 0 6px;
  display: block;
  font-size: 14px;
  transition: 0.4s;
  &:hover {
    border: 1.5px solid #d00a12;
    transition: 0.2s;
    background: #f7f7f7;
  }
}

.card:hover .card-image-prev {
  @media #{$media-md-up} {
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s;
  }
}
.card:hover .card-hover-img {
  @media #{$media-md-up} {
    opacity: 1;
    visibility: visible;
  }
}
.card:hover .card-icons {
  @media #{$media-md-up} {
    opacity: 0;
    visibility: hidden;
  }
}
.hover-slide-line {
  position: absolute;
  height: 5px;
  background: rgba(0, 0, 0, 0.5);
  width: 87%;
  top: 8px;
  left: 51%;
  transform: translateX(-52%);
  border-radius: 5px;
}
.white-hover-slide-line {
  content: '';
  background-color: #fff;
  height: 5px;
  position: absolute;
}

.action {
  height: 3px;
  width: 20px;
  position: absolute;
  top: 20px;
  right: 25px;
  cursor: pointer;
  @media #{$media-to-xs} {
    top: -2px;
    right: 6px;
  }
  & ~ img {
    position: absolute;
    top: 21px;
    width: 37px !important;
    right: 16.3px;
    z-index: 10;
    z-index: 5;
  }
}

.line {
  margin: 10px;
}
.line:nth-of-type(1) {
  transform: rotate(0deg);
}
.line:nth-of-type(2) {
  transform: rotate(45deg);
}
.line:nth-of-type(3) {
  transform: rotate(90deg);
}
.line:nth-of-type(4) {
  transform: rotate(135deg);
}
.line:nth-of-type(5) {
  transform: rotate(180deg);
}
.line:nth-of-type(6) {
  transform: rotate(225deg);
}
.line:nth-of-type(7) {
  transform: rotate(270deg);
}
.line:nth-of-type(8) {
  transform: rotate(315deg);
}
.line.active:before {
  content: '';
  width: 2px;
  background: red;
  position: absolute;
  top: -4.5vh;
  left: -0.18vh;
  will-change: top, height;
  animation: line1 0.3s ease-out 1;
}

.favorite-icon-product {
  cursor: pointer;
  width: 30px;
  height: 30px;
  fill: #fff;
  stroke: #000;
  position: absolute;
  right: 0;
  top: 7px;
  @media #{$media-md-only} {
    top: -26px;
  }
  @media #{$media-to-xs} {
    right: 0;
    top: 0;
    width: 22px;
    height: 22px;
  }
}
.favorite-icon-product.active {
  animation: grow-shrink 0.3s ease 1;
  fill: red;
}
.favorite-icon-product.love {
  fill: red;
  stroke: none;
}
@keyframes line1 {
  0% {
    opacity: 1;
  }
  25% {
    top: -4.5vh;
  }
  65% {
    height: 9vh;
  }
  100% {
    height: 0.36vh;
    top: -18vh;
  }
}

@keyframes grow-shrink {
  40% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
