.goods {
  margin-top: 50px;
  @media #{$media-to-xs} {
    margin-top: 00px;
  }
  &__title {
    display: flex;
    align-items: flex-end;
    @media #{$media-to-xs} {
      display: block;
      padding-left: 16px;
      padding-right: 16px;
    }
    h1 {
      font-size: 48px;
      margin-right: 24px;
      line-height: 38px;
      @media #{$media-to-xs} {
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        display: inline-block;
      }
    }
    a {
      color: $blue;
      font-weight: 700;
      cursor: pointer;
      font-size: 16px;
      @media #{$media-to-xs} {
        font-weight: bold;
        font-size: 14px;
        line-height: 26px;
        margin-left: -10px;
      }
      &:hover {
        color: #0B729E;
        transition: .2s;
      }
    }
  }
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 30px;
  @media #{$media-to-xs} {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px;
  }
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  @media #{$media-to-xs} {
    border: 1px solid #D2D7E3;
  }
  .card-hover-img {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    z-index: 10;
    transition: all .4s;
    img {
      width: 90%;
      margin: 0 auto;
    }
  }
  .card-to-favorite {
    right: 36px;
    top: 26px;
    position: absolute;
    cursor: pointer;
    width: 24px !important;
  }
  .card-image {
    position: relative;
  }
  .card-discount {
    position: absolute;
    top: -10px;
    z-index: 17;
    span {
      background-color: $red;
      font-weight: 700;
      color: #fff;
      border-radius: 1px 14px;
      font-size: 14px;
      line-height: 31px;
      padding: 4px;
      @media #{$media-to-xs} {
        font-size: 12px;
      }
    }
  }
  .mobile-card-to-favorite {
    position: absolute;
    right: 0;
    top: -8px;
  }
  .card-image-prev {
    width: 100%;
    cursor: pointer;
    img {
      width: 100%;
    }
  }
  .card-title {
    font-size: 18px;
    font-weight: normal;
    margin-top: 82px;
    margin-left: 10px;
  }
  .card-subtitle {
    font-weight: normal;
    font-size: 14px;
    color: #A7A8B3;
    margin-left: 10px;
  }
  .card-tooltip {
    position: absolute;
    right: -40px;
    bottom: 48px;
    padding: 8px 16px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    width: max-content;
    opacity: 0;
    transition: opacity .3s;
    &::after {
      content: '';
      width: 0;
      height: 0;
      left: 50%;
      transform: translateX(-50%);
      bottom: -10px;
      position: absolute;
      border-style: solid;
      border-width: 10px 9px 0 9px;
      border-color:rgba(0, 0, 0, 0.7) transparent transparent transparent;
      line-height: 0px;
      _border-color: #007bff #000000 #000000 #000000;
      _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
    }
  }
  .card-icons {
    // display: flex;
    display: none;
    img {
      background-color: $light-gray;
      padding: 8px;
      border-radius: 5px;
      cursor: pointer;
      margin-right: 8px;
    }
  }
  .card-icon__wrapper {
    position: relative;
    &:hover{
      .card-tooltip {
        opacity: 1;
      }
    }
  }
  .card-sizes {
    margin-left: 10px;
    &__title {
      font-weight: normal;
      font-size: 14px;
      margin-top: 16px;
      margin-bottom: 4px;
    }
    &__btns {
      button {
        border: 1px solid transparent;
        background-color: $light-gray;
        font-size: 14px;
        padding: 3px 7px;
        border-radius: 5px;
        &:hover {
          border: 1px solid #A7A8B3;
        }
        span {
          font-size: 12px;
          margin-left: 3px;
        }
      }
    }
  }
  .card-params {
    margin-left: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: auto;
    padding-top: 14px;
    img {
      margin-bottom: 6px;
    }
  }
  .card-colors {
    font-size: 14px;
    &__btns {
      margin-top: 10px;
      button {
        height: 16px;
        width: 16px;
        border-radius: 5px;
        border: none;
        position: relative;
        margin-right: 5px;
        &:hover::after {
          content: '';
          height: 20px;
          width: 20px;
          border: 1px solid #A7A8B3;
          background: transparent;
          position: absolute;
          border-radius: 5px;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
      .yellow {
        background-color: #FED60E;
      }
      .blue {
        background-color: #6E67C6;
      }
      .light {
        background-color: #CDDAE2;
      }
    }
  }
  .old-price {
    color: #A7A8B3;
    font-size: 14px;
    text-decoration: line-through;
    text-align: right;
    line-height: 20px;
    @media #{$media-to-xs} {
      text-align-last: left;
      font-size: 12px;
      line-height: 18px;
    }
  }
  .new-price {
    font-weight: bold;
    color: #282724;
    font-size: 24px;
    line-height: 30px;
    @media #{$media-to-xs} {
      font-size: 16px;
      line-height: 24px;
    }
  }
  padding: 30px;
  &:hover {
    .add-to-cart-wrapper {
      opacity: 1;
      transition: all .4s;
    }
  }
}
.discount-banner {
  margin-top: 60px;
  display: flex;
  justify-content: flex-end;
  border-radius: 10px;
  background: #FFE677;
  margin-bottom: 60px;
  position: relative;
  @media #{$media-to-xs} {
    margin-left: 16px;
    margin-right: 16px;
    height: 160px;
  }
  div {
    position: absolute;
    left: 70px;
    top: 58px;
    p {
      width: 490px;
      @media #{$media-to-xs} {
        width: 61%;
        font-size: 14px;
      }
    }
    @media #{$media-to-xs} {
      left: 20px;
      top: 20px;
      width: 230px;
    }
  }
  img {
    width: 60%;
  }
  &__title {
    font-weight: bold;
    font-size: 55px;
    @media #{$media-to-xs} {
      font-size: 20px;
    }
  }
  &__subtitle {
    font-weight: normal;
    font-size: 18px;
    max-width: 540px;
    @media #{$media-to-xs} {
      font-size: 12px;
      width: 50%;
    }
  }
}
.card-size__button-selected {
  border: 1px solid #A7A8B3 !important;
  font-weight: bold;
}
.card-colors__selected {
  &:after {
    content: '';
    height: 20px;
    width: 20px;
    border: 1px solid #A7A8B3;
    background: transparent;
    position: absolute;
    border-radius: 5px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.add-to-cart-wrapper {
  background: #fff;
  position: absolute;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  left: 0;
  bottom: -70px;
  opacity: 0;
}
.card_add-to-cart {
  border-radius: 10px;
  border: 1.5px solid #ED1C24;
  background: transparent;
  padding: 15px;
  margin-top: 20px;
  width: 86%;
  font-weight: bold;
  margin: 0 auto 0 22px;
  display: block;
  font-size: 14px;
  &:hover {
    border: 1.5px solid #D00A12;
    transition: .2s;
  }
}

.card-top-image-wrapper:hover .card-image-prev {
  @media #{$media-xs-up} {
    opacity: 0;
    visibility: hidden;
    transition: all .4s;
  }
}
.card-top-image-wrapper:hover .card-hover-img {
  @media #{$media-xs-up} {
    opacity: 1;
    visibility: visible;
  }
}
.card-top-image-wrapper:hover .card-icons {
  @media #{$media-xs-up} {
    opacity: 0;
    visibility: hidden;
  }
}